body {
    font-size: 20;
    background-color: #fff0ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
  }
  
  h1 {
    font-size: 45; 
    margin-bottom: 5; 
    color: #db70ff; 
    
  }
   
  a {
    color: #db70ff;
  }

  a:hover {
    color: #6e076e;
  }

  p {
    line-height: 3; 
    color: #2b0025;
  }
  
  #contacts a {
    color: #ff6ca5; 
    font-weight: bold; 
  }

  #contacts a:hover {
    color: #ff0062; 
    font-weight: bold; 
  }

  .center{
    text-align: center;
  }

  .pic{
    width: 800;
    height: 500; 
  }

  dt {
    font-weight: bold; 
  }
  
  table {
    border-collapse: collapse;
    margin: 1em auto; 
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 10px;
  }

  .astronaut-table {
    margin: 0 auto; 
  }
  
  .astronaut-table th {
    background-color: #D235D2; 
    text-align: center; 
  }
  
  .astronaut-table td {
    text-align: center; 
  }

  .mission-table {
    width: 90%; 
    margin: 0 auto; 
  }
  
  .mission-table th {
    background-color: #D235D2; 
    text-align: center; 
  }
  
  .mission-table td {
    text-align: left; 
  }

  .mission-table td:nth-child(2) { 
    text-align: center; 
  }

  .mission-table td:nth-child(3) { 
    text-align: right; 
  }

  button {
    width: 350px;
    height: 150px;
    font-size: 38px;
    background-color: #e8a3ff;
    color: #7e087e;
    border: none; 
    border-radius: 90px;

    &:hover {
      background-color: #990399;
      color: #ecbcfc;
    }
  
    &:active {
      background-color: #7e087e;
      color: #db70ff;
    }
  }

  .box {
    display: flex; 
    justify-content: 
    space-around; padding: 10px
  }


  ol:hover {
    background-color: #db70ff; 
  }

  ol:active {
  background-color: #45005c; 
  }

  .menu {
    display: flex;
    margin: 20px auto;
}

.menu button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #db70ff; 
    border: none;
    cursor: pointer;
}