body {
    font-size: 20;
    background-color: #fff0ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
  }
  
  h1 {
    font-size: 45; 
    margin-bottom: 5; 
    color: #db70ff; 
    
  }
  
  a {
    color: #bf58d1; 
    text-decoration: none; 
  }
  
  a:hover {
    color: #9827c8; 
  }

  p {
    line-height: 3; 
    color: #2b0025;
  }
  
  #contacts a {
    color: #ff6ca5; 
    font-weight: bold; 
  }

  #contacts a:hover {
    color: #ff0062; 
    font-weight: bold; 
  }

  .center{
    text-align: center;
  }

  .pic{
    width: 800;
    height: 500; 
  }

  dt {
    font-weight: bold; 
  }
  
  table {
    border-collapse: collapse;
    margin: 1em auto; 
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 10px;
  }

  .astronaut-table {
    margin: 0 auto; 
  }
  
  .astronaut-table th {
    background-color: #D235D2; 
    text-align: center; 
  }
  
  .astronaut-table td {
    text-align: center; 
  }

  .mission-table {
    width: 90%; 
    margin: 0 auto; 
  }
  
  .mission-table th {
    background-color: #D235D2; 
    text-align: center; 
  }
  
  .mission-table td {
    text-align: left; 
  }

  .mission-table td:nth-child(2) { 
    text-align: center; 
  }

  .mission-table td:nth-child(3) { 
    text-align: right; 
  }
  
  I + B{
    color: #0033ff;
  }
  
  H1 I{
    background-color: #bf58d1;
    color: #000000;
    font-size: large;
  } 

  p > strong{
    color: #00ff08;
  }

